@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;

}

html {
  scroll-behavior: smooth;

}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;

}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;

}

h4 {
  font-size: 20px;
  color: #222;

}

h6 {
  font-weight: 700;
  font-size: 12px;

}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;

}

.section-p1 {
  padding: 40px 80px;

}

.section-m1 {
  margin: 40px 0;

}

body {
  width: 100%;

}

/* header Start */

#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #E3E6F3;
  box-shadow: 0 5px 15px rgba(0,0,0,0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;

}

#navbar{
  display: flex;
  align-items: center;
  justify-content: center;

}

#navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative; 

}

#navbar li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;

}

#navbar li a:hover,
#navbar li a.active{
  color: #088178;

}

#navbar li a.active::after,#navbar li a:hover::after{
  content: "";
  height: 2px;
  width: 30%;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;

}

/* home Page */
#hero{
  background-image: url("img/hero4.png");
  height: 99vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

}

#hero h4{
  padding-bottom: 15px;

}

#hero h1{
  color: #088178;

}

#hero button{
  background-image: url("img/button.png");
  background-color: transparent;
  color: #088178;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px; 

}

#feature{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

}

#feature .Featured-box{
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;

} 

 #feature .Featured-box:hover{
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);

}

#feature .Featured-box img{
  width: 100%;
  margin-bottom: 10px;

}

#feature .Featured-box h6{
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;

}

#feature .Featured-box:nth-child(2) h6{
  background-color: #cdebbc;

}

#feature .Featured-box:nth-child(3) h6{
  background-color: #d1e8f2;

}

#feature .Featured-box:nth-child(4) h6{
  background-color: #cdd4f8;

}

#feature .Featured-box:nth-child(5) h6{
  background-color: #f6dbf6;

}

#feature .Featured-box:nth-child(6) h6{
  background-color: #fff2e5;

}

#product1{
  text-align: center;

}

#product1 .pro-container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;

}

#product1 .pro{
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;

}

#product1 .pro:hover{
  box-shadow: 20px 20px 30px rgba(0,0,0,0.02);

}

#product1 .pro img{
  width: 100%;
  border-radius: 20px;

}

#product1 .pro .des{
  text-align: start;
  padding: 10px 0;

}

#product1 .pro .des span{
  color: #606063;
  font-size: 12px;

}

#product1 .pro .des h5{
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;

}

#product1 .pro .des i{
  font-size: 12px;
  color: rgb(243, 181, 25);

}


#product1 .pro .des h4{
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;

}

#product1 .pro .cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6e7;
  font-weight: 500;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;

}



/*--shop page--*/
#page-header {
    background-image: url("img/banner/b1.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 14px;

}

#page-header h2,
#page-header p{
    color: #ffff;

}


#pagination{
    text-align: center;
    display: flex;
    margin-top: 20px;

}


#pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    color: #ffff;
    font-weight: 6000;

}

#pagination a i{
    font-size: 16px;
    font-weight: 600 ;

}

/*---single product---*/
#prodetails{
    display: flex;

}

#prodetails  .single-pro-image{
    width: 40%;
    margin-right: 50px;

}

.small-img-group{
    display: flex;
    justify-content: space-between;

}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;

}

#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;

}

#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;

}

#prodetails .single-pro-details h2{
    font-size: 26px;
    
}

#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;

}


#prodetails .single-pro-details input{
    width: 50%;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;

}


#prodetails .single-pro-details input:focus{
    outline: none;

}


#prodetails .single-pro-details button{
    background-color: #088178;
    color: #ffff;

}


#prodetails .single-pro-details span{
    line-height: 25px;

}